/node_modules
/public/hot
/public/storage
/public/mix-manifest-json
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
package-lock.json
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
